.card {
    border-radius: 20px;
}

#status {
    position: fixed;
    top: 0;
    font-size: 16px;
    color: #333;
    max-width: 400px;
}

.status-info {
    background-color: #2196F3;
    text-align: center;
    width: 50%;
}

.status-success {
    background-color: #4CAF50;
    text-align: center;
    width: 50%;
}

.status-error {
    background-color: #F44336;
    text-align: center;
    width: 50%;
}
