/*navbar*/
.nav-link {
    color: #adb5bd;
}

.navbar-nav .nav-item .nav-link {
  color: #f8f9fa !important;
  font-weight: 500;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff !important;
  border-radius: 5px;
}

.navbar-nav .nav-item .nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 5px;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}


.navbar-collapse {
  justify-content: flex-end;
}
